
fastapi
uvicorn[standard]
cotyledon

pydantic>=2
pydantic-settings

pymongo>=4.9,<4.13

apscheduler>=3.10,<4.0

httpx

asgi-correlation-id
slowapi
fastapi-pagination
orjson

fastapi-babel
Babel

cryptography

Faker
pydantic-core
